[debian:*:*]
reqsuires: perl build-essential devscripts debhelper dh-make-perl
# No packman.cfg needed (all build material present)

[rhel:6:*]
requires: rpm-build perl
# No packman.cfg needed (all build material present)

[rhel:7:*]
requires: rpm-build perl-generators perl-interpreter
# No packman.cfg needed (all build material present)

[fc:*:*]
requires: rpm-build perl-generators perl-interpreter
# No packman.cfg needed (all build material present)

[SuSE:*:*]
requires: rpm-build perl
# No packman.cfg needed (all build material present)
